:local(.AuthForm) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;

  .sign-in-text {
    font-size: 35px;
  }

  .input-form {
    background-color: rgb(236, 246, 243);
    height: 2.5em;
    width: 75%;
    border-radius: 0.5em;
    border: none;
    margin: 1em;
  }

  .role-select {
    display: flex;
    flex-direction: column;
  }

  .sign-in-button {
    background-color: rgb(0, 98, 169);
    height: 2.5em;
    width: 75%;
    border-radius: 0.5em;
    border: none;
    margin: 1em;
    color: white;
  }
}